@charset "UTF-8";

body {
	background-size: cover;
	background-attachment: fixed;
}

body, input, button {
	font-family: "Roboto", sans-serif;
}

header {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding: 15px;
	top: 0;
	left: 0;
	z-index: 5;
}

h1 {
	font-size: 100px;
	text-align: center;
	color: #edf0f1;
	text-shadow: 4px 4px 6px black, 0 0 25px white, 0 0 5px white;
}

header input {
	width: 500px;
	height: 50px;
	color: black;
	font-size: 15px;
	font-weight: 400;
	text-indent: 18px;
	padding: 0 20px 0 0;
	background: #edf0f1;
	box-shadow: 5px 5px 5px black, 0 0 25px white, 0 0 5px white;
	border-radius: 5px;
	border: 0px;
	outline: none;

	-webkit-appearance: none;
  	-moz-appearance: none;
}

