/*header {
	font-size: 40px;
	display: flex;
	justify-content: center;

}
*/
.main-container {
	display: flex;
	border: solid black 2px;
	height: 500px;
	width: 300px;
	margin: 5px;
}
/*.project-container {
	display: flex;
	justify-content: center;
	margin: 10px;
	border: solid black 2px;
	height: 500px;
	width: 300px;
	max-height: 500px;
	max-width: 300px;
	float: left;
	position: relative;
}

.task-container {
	display: flex;
	justify-content: center;
	margin: 10px;
	border: solid black 2px;
	height: 500px;
	width: 300px;
	max-height: 500px;
	max-width: 300px;
	float: right;
	position: relative;
}

.main-container .task-container .task-btn {
	display: flex;
	justify-content: flex-end;
	position: relative;
	bottom: 20px;
	right: 20px;
}*/